@model  StoreTestWebApp.Models.Order
@{
    ViewBag.Title = "Orden #" + string.Format("{0,22:D8}", Model.OrderID.ToString());
}
<h2 class="page-header">Order #   @string.Format("{0,22:D8}", Model.OrderID.ToString())</h2>
<div class="row">
    <div class="col-xs-12">
        
        @Html.HiddenFor(x => x.OrderID, new { id = "OrderID" })

        <ul id="facturador-detalle" class="list-group">
            <li class="list-group-item">
                <h3>@Model.Client.Fullname</h3>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-6">
                        <b>Producto</b>
                    </div>
                    <div class="col-xs-2 text-center">
                        <b>Cantidad</b>
                    </div>
                    <div class="col-xs-2 text-right">
                        <b>Precio Unitario</b>
                    </div>
                    <div class="col-xs-2 text-right">
                        <b>Monto</b>
                    </div>
                </div>
            </li>
            @foreach (var d in Model.Details)
            {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-6">
                            @d.Product.Name
                        </div>
                        <div class="col-xs-2 text-center">
                            @d.Quantity
                        </div>
                        <div class="col-xs-2 text-right">
                            @string.Format("{0:c}", d.Price)
                        </div>
                        <div class="col-xs-2 text-right">
                            @string.Format("{0:c}", d.Total)
                        </div>
                    </div>
                </li>
            }
            @if (Model.Details.Count > 0)
            {
                <li class="list-group-item text-right" style="font-size:18px;">
                    @string.Format("{0:c}", Model.TotalOrder)
                </li>
            }
        </ul>


    </div>
</div>
<div class="row">

    <div class="col-xs-1 text-right">
        <button class="btn btn-danger btn-xs btn-block btn-eliminar" type="submit" value="eliminar" name="action">
            <i class="glyphicon glyphicon-remove"></i>
        </button>
    </div>
</div>